<!DOCTYPE html>
%html{:lang => "fr", :itemscope => "", :itemtype => "http://schema.org/Blog"}
  %head
    %meta{:charset => "utf-8"}
    %title #{title}
    / %link{:rel => "stylesheet", :type => "text/css", :href => "#{blog_url}styles/default.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "../styles/default.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Nunito:300,700"}

    %link{:rel => "shortcut icon", :href => "http://www.vtourraine.net/img/vt-16.png"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "http://www.vtourraine.net/img/vt-114.png"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "http://www.vtourraine.net/img/vt-72.png", :sizes => "72x72"}
    %link{:rel => "alternate",  :type => "application/atom+xml", :href => "#{blog_url}feed.xml", :title => "Blog (Atom)"}

    %link{:rel => "stylesheet", :href => "../highlight/styles/default.css"}
    %script{:src => "../highlight/highlight.pack.js"}
    %script hljs.initHighlightingOnLoad();

    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
    %meta{:itemprop => "image", :content => "#{image_url}"}

    / <script type="text/javascript">
    /   window.___gcfg = {lang: 'fr'};
    
    /   (function() {
    /     var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    /     po.src = 'https://apis.google.com/js/plusone.js';
    /     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    /   })();
    / </script>
    / <script type="text/javascript">
    
    /   var _gaq = _gaq || [];
    /   _gaq.push(['_setAccount', 'UA-18279263-3']);
    /   _gaq.push(['_trackPageview']);
    
    /   (function() {
    /     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    /     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    /     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    /   })();
    
    / </script>

  %body.post
    %header
      #headline
        %a{:href => "http://www.vtourraine.net/"} Vincent Tourraine
      #main
        %a{:href => "#{blog_url}"} Blog

    %article.post
      %h1{:itemprop => "name"}
        #{title}
      .meta
        %time{:datetime =>"#{date.strftime('%F')}"}
          #{locale_date},
        - keywords.each do |keyword|
          %span.tag 
            \##{keyword}

      #{body}

    .share
      %a{:href => "https://twitter.com/share", :class => "twitter-share-button", :"data-text" =>"&quot;#{title}&quot; par @vtourraine", :"data-count" => "horizontal", :"data-lang" => "fr"}
        Tweet
        %script{:type => "text/javascript", :src => "//platform.twitter.com/widgets.js"}
      %div.g-plusone{ :"data-size" => "medium"}
      %a.profile{:href => "https://plus.google.com/u/0/117326560329576507699/posts", :rel => "author me"} Google+

    .comments
      #disqus_thread
        :javascript
          var disqus_shortname = 'vtourraine';
          var disqus_url = '#{disqus_url}';

          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        %noscript 
          Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        %a{:href => "http://disqus.com", :class => "dsq-brlink"} 
          blog comments powered by 
          %span.logo-disqus
            Disqus

    -# 
      [RELATED_PROJECTS]
      <section>
        <div>
          <div class="postprevious">
            [POST_PREVIOUS]
          </div>
          <div class="postnext">
            [POST_NEXT]
          </div>
        </div>
      </section>

    %footer
      %nav
        %a{:href => "http://www.vtourraine.net"} Vincent Tourraine
        \/
        %a{:href => "http://www.vtourraine.net/projects/"} Projets
        \/
        %span Blog

      #mail
        %a{:href => "mailto:me@vtourraine.net"} me@vtourraine.net
