<!DOCTYPE html>
%html{:lang => "fr", :itemscope => "", :itemtype => "http://schema.org/Blog"}
  %head
    %meta{:charset => "utf-8"}
    %title #{title}
    %link{:rel => "stylesheet", :type => "text/css", :href => "#{blog_url}styles/default.css?upper"}
    -# %link{:rel => "stylesheet", :type => "text/css", :href => "../styles/default.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Nunito:300,700"}

    %link{:rel => "canonical", :href => "#{web_url}"}

    %link{:rel => "shortcut icon", :href => "http://www.vtourraine.net/img/vt-16.png"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "http://www.vtourraine.net/img/vt-114.png"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "http://www.vtourraine.net/img/vt-72.png", :sizes => "72x72"}
    %link{:rel => "alternate",  :type => "application/atom+xml", :href => "#{blog_url}feed.xml", :title => "Blog (Atom)"}
    %link{:rel => "author", :href => "http://plus.google.com/117326560329576507699", :title => "Vincent Tourraine on Google+"}
    %link{:rel => "stylesheet", :href => "#{blog_url}highlight/styles/default.css"}

    %script{:src => "#{blog_url}highlight/highlight.pack.js"}
    %script hljs.initHighlightingOnLoad();

    %meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}

    %meta{:itemprop => "author", :content => "Vincent Tourraine"}

    %meta{:itemprop => "inLanguage", :content => "fr"}
    %meta{:itemprop => "datePublished", :content => "#{date}"}
    %meta{:itemprop => "image", :content => "#{image_url}"}
    - if thumbnail_url
      %meta{:itemprop => "thumbnailUrl", :content => "#{thumbnail_url}"}

    -# Twitter cards
    %meta{:name => "twitter:card",        :content => "summary"}
    %meta{:name => "twitter:site",        :content => "@vtourraine"}
    %meta{:name => "twitter:title",       :content => "#{title}"}
    %meta{:name => "twitter:description", :content => "#{summary}"}
    %meta{:name => "twitter:image",       :content => "#{image_url}"}
    %meta{:name => "twitter:url",         :content => "#{web_url}"}

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18279263-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body.post
    %header
      #headline
        %a{:href => "http://www.vtourraine.net/"} Vincent Tourraine
      #main
        %a{:href => "#{blog_url}"} Blog

    %article.post
      %h1{:itemprop => "name"}
        #{title}
      .meta
        %time{:datetime =>"#{date.strftime('%F')}"}
          #{locale_date},
        - keywords.each do |keyword|
          %span.tag 
            \##{keyword}

      #{body}

    .comments
      #disqus_thread
        :javascript
          var disqus_shortname = 'vtourraine';
          var disqus_url = '#{disqus_url}';

          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        %noscript 
          Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        %a{:href => "http://disqus.com", :class => "dsq-brlink"} 
          blog comments powered by 
          %span.logo-disqus
            Disqus

    %footer
      %nav
        %a{:href => "http://www.vtourraine.net"} Vincent Tourraine
        \/
        %a{:href => "http://www.vtourraine.net/projects/"} Projets
        \/
        %span Blog

      #mail
        Contact :
        %a{:href => "mailto:me@vtourraine.net"} me@vtourraine.net

      .note
        Cet article est publié sous les termes de la licence <a href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons CC BY-NC</a>.
      .note
        Le contenu et le code de ce blog sont disponibles sur <a href="http://www.github.com/vtourraine/blog/">GitHub</a>.
        %br
        N’hésitez pas à y proposer des corrections ou des suggestions d’améliorations. 
